/* font Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.inventory-conatainer {
    margin-top: 88px;
    margin-bottom: 45px;
    font-family: 'Poppins', sans-serif;
}

.inventory {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 500px;
    box-shadow: 0 0 0, 0 0 10px rgba(135, 206, 250, 0.69);
    border-radius: 20px;
    padding: 0px;
    margin-bottom: 40px;
}

.inventory img {
    width: 496px;
    border-radius: 20px;
}

.inventory-details {
    width: 100%;
    padding: 30px;
    margin: 30px;
    background-color: rgba(135, 206, 250, 0.69);
    border-radius: 20px;
    position: relative;
}

.inventory-details input {
    width: 100%;
    height: 47px;
    border: 1px solid rgba(157, 198, 255, 0.858);
    border-radius: 50px;
    padding-left: 17px;
    padding-right: 170px;
    font-size: 15px;
}

.button-restock {
    width: 26% !important;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    padding-right: 6px;
    padding-left: 16px;
    position: absolute;
    right: 33px;
    bottom: 105px;
}

.button-restock svg {
    width: 24px;
    margin-left: 7px;
    margin-right: 0px;
}

.button-delivered {
    margin-top: 30px;
    width: 100%;
    background-color: rgb(52, 212, 159);
    color: white;
}

.button-delivered:hover {
    background-color: rgb(0, 204, 136);
    border: 1px solid rgb(0, 204, 136);
    color: white;
}

.manage-inventory-button {
    background-color: rgb(38, 139, 255);
    color: white;
    padding-right: 6px;
    padding-left: 16px;
    margin-top: 10px;
}

.manage-inventory-button svg {
    width: 27px;
    margin-left: 5px;
}

.manage-inventory-button:hover {
    background-color: rgb(16, 111, 255);
    color: white;
}

/* 
=======================
MEDIA QUERY STARTS HERE
=======================
*/
@media only screen and (min-width: 350px) and (max-width: 850px) {
    .inventory {
        flex-direction: column;
        align-items: center !important;
        justify-content: center !important;
        height: 100%;
        width: 95%;
    }

    .inventory img {
        width: 90%;
    }

    .inventory-details {
        width: 95% !important;
        height: 56%;
        margin: 0px !important;
        margin-bottom: 10px !important;
        text-align: center;
    }

    .inventory-details h2,
    h4 {
        font-size: 20px;
    }

    .inventory-details {
        width: 100%;
        padding: 30px;
        margin: 30px;
        background-color: rgba(135, 206, 250, 0.69);
        border-radius: 20px;
    }

    .button-restock {
        width: 60%;
    }
}

@media only screen and (min-width: 851px) and (max-width: 992px) {
    .inventory {
        flex-direction: row;
        height: 100%;
        width: 100%;
    }

    .inventory img {
        width: 50%;
    }

    .inventory-details {
        width: 100%;
        height: 70%;
        padding: 30px;
        margin: 10px !important;
    }

    .button-restock {
        width: 60%;
    }
}