/* font Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.choose-us-container {
    margin: 25px 0px 70px 0px;
    font-family: 'Poppins', sans-serif;
}

.choose-us {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.choose-us div {
    margin: 15px;
}

.choose-us svg {
    width: 110px;
}

.choose-us-section {
    box-shadow: 0 0 0, 0 0 10px #e2e2e2;
    border-radius: 10px;
    transition: transform 0.4s;
}

.choose-us-section:hover {
    transform: scale(1.05);
    transition: transform 0.4s;
}

.choose-us-icon-one {
    color: white;
    background-color: rgba(74, 141, 255, 0.65);
    border-radius: 9px;
    margin: 0px !important;
    padding: 80px;
}

.choose-us-icon-two {
    color: white;
    background-color: rgba(255, 210, 87, 0.601);
    border-radius: 9px;
    margin: 0px !important;
    padding: 80px;
}

.choose-us-icon-three {
    color: white;
    background-color: rgb(254, 185, 185);
    border-radius: 9px;
    margin: 0px !important;
    padding: 80px;
}

.choose-us-detail {
    padding: 20px;
}

.choose-us-detail p {
    margin: 0px;
}

/* 
=======================
MEDIA QUERY STARTS HERE
=======================
*/
@media only screen and (min-width: 350px) and (max-width: 768px) {
    .choose-us {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 768px) and (max-width: 850px) {
    .choose-us {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 850px) and (max-width: 992px) {
    .choose-us {
        grid-template-columns: repeat(2, 1fr);
    }
}