/* font Lobster */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.navigation {
    padding: 15px;
}

.navbar-title-link {
    text-decoration: none;
}

.navbar-title-link h1 {
    margin: 0px;
    padding: 5px 20px;
    border: 2px solid;
    border-radius: 50px;
    font-family: 'Lobster', cursive;
    font-size: 28px;
}

.nav-links {
    display: flex;
}

.nav-links a {
    text-decoration: none;
    margin: 10px;
    color: black;
    font-weight: bold;
}

.button-login {
    padding: 7px 30px;
    margin: 5px;
}

.button-signup {
    padding: 7px 30px;
    margin: 5px;
}