/* font Lobster */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.navigation {
    padding: 15px;
}

.navbar-title-link {
    text-decoration: none;
    color: rgb(38, 139, 255);
}

.navbar-title-link:hover {
    color: rgb(38, 139, 255);
}

.navbar-title-link h1 {
    margin: 0px;
    padding: 5px 20px;
    border: 2px solid;
    border-radius: 50px;
    font-family: 'Lobster', cursive;
    font-size: 28px;
}

.nav-links {
    display: flex;
}

.nav-links a {
    text-decoration: none;
    margin: 10px;
    color: black;
    font-weight: bold;
}

.nav-links a:hover {
    color: rgb(38, 139, 255);
    transition: color .15s ease-in-out;
}

.button-navbar-login {
    padding: 7px 30px;
    margin: 5px;
}

.button-navbar-signup {
    padding: 7px 30px;
    margin: 5px;
    border: none;
    background-color: rgb(38, 139, 255);
}

.button-navbar-signup:hover {
    background-color: rgb(0, 102, 255);
    transition: background-color .10s ease-in-out;
}