/* font Lobster */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* font Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.navigation {
    padding: 15px;
}

.navbar-title-link {
    text-decoration: none;
    color: white;
}

.navbar-title-link:hover {
    color: white;
}

.navbar-title-link h1 {
    margin: 0px;
    padding: 5px 20px;
    border: 2px solid;
    border-radius: 50px;
    font-family: 'Lobster', cursive;
    font-size: 28px;
}

.nav-links {
    display: flex;
}

.nav-links a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    margin: 10px;
    color: white;
    font-weight: bold;
    padding-bottom: 3px;
}

.nav-links a:hover {
    border-bottom: 3px solid;
    border-color: rgb(38, 139, 255);
}

.button-navbar-login {
    font-family: 'Roboto', sans-serif;
    padding: 7px 30px;
    margin: 5px;
}

.button-navbar-signup {
    font-family: 'Roboto', sans-serif;
    padding: 7px 30px;
    margin: 5px;
    border: none;
    background-color: rgb(38, 139, 255);
}

.button-navbar-signup:hover {
    background-color: rgb(0, 102, 255);
    transition: background-color .10s ease-in-out;
}

/* 
=======================
MEDIA QUERY STARTS HERE
=======================
*/
@media only screen and (min-width: 300px) and (max-width: 991px) {
    .navbar-toggler {
        background-color: rgba(255, 255, 255, 0.807);
    }

    .navbar-image {
        display: flex;
        justify-content: center;
    }

    .navbar-name {
        text-align: center;
        margin: 0px !important;
    }

    .nav-links {
        display: block;
        text-align: center;
    }

    .nav-links div {
        margin: 5px;
    }

    .navbar-logout {
        display: flex;
        justify-content: center;
        margin-top: 7px;
    }

    .navbar-button-group {
        display: flex;
        justify-content: center;
    }
}