/* font Lobster */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* font Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.footer {
    display: flex;
    justify-content: space-around;
    padding: 70px 0px;
    background-color: rgb(0, 12, 38);
}

.footer h1 {
    color: rgb(38, 139, 255);
    margin: 60px 0px;
    padding: 5px 20px;
    border: 2px solid;
    border-radius: 50px;
    font-family: 'Lobster', cursive;
    font-size: 35px;
}

.footer a {
    text-decoration: none;
}

.footer h5 {
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-bottom: 10px;
    padding: 5px;
    border-bottom: 2px solid rgb(38, 139, 255);
}

.footer-location p {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    color: white;
}

.footer-links a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: white;
    display: block;
}

.footer-links a:hover {
    color: rgb(38, 139, 255);
    transition: color .15s ease-in-out;
}

.footer-social svg {
    border-radius: 5px;
    background-color: white;
    margin: 5px;
    height: 40px;
    width: 40px;
}

.footer-social svg:hover {
    background-color: rgb(38, 139, 255);
    transition: background-color .15s ease-in-out;
}