/* font Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#not-found {
    background-image: url('../../images/background/bg-3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
    margin-top: 88px;
}

.not-found {
    padding-top: 100px;
    padding-bottom: 150px;
}

.not-found h1 {
    font-size: 200px;
    margin: 0px;
    color: rgba(216, 230, 255, 0.704);
}

.not-found h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    color: rgba(216, 230, 255, 0.704);
}

.not-found p {
    font-family: 'Poppins', sans-serif;
    color: rgba(216, 230, 255, 0.704);
}

.not-found button {
    font-family: 'Poppins', sans-serif;
    padding: 10px 35px;
    color: white;
    border: 1px solid rgba(216, 230, 255, 0.704);
}


.not-found button:hover {
    color: white;
}